<section ng-controller="ProfileController as profile">

    <h1 id="name"></h1>
    <div id="info">
        <ul>
            <label>身份</label>
            <label>帳號</label><input placeholder="b03902074">
            <label>E-mail</label><input type="email" plaeholder="cba840910@gmail.com">
            <label>宿舍</label><h3>男一舍</h3>
            <label>房號</label><h3>229-B</h3>
            <label>MAC 卡號</label><input type="email" plaeholder="E2-2C-3A-E0-02-39">
            <label>電話</label><input type="email" plaeholder="0800-092000">
            <label>IP</label>
        </ul>
    </div>
</section>