<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>國立台灣大學宿舍網路管理系統</title>
        <meta name="description" content="An interactive getting started guide for Brackets.">
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><img id="logo" src="" title="國立台灣大學宿舍網路管理系統"></li>
                <li>黑名單</li>
                <li>使用者名單</li>
                <li>進階網路設定</li>
                <li>個人資訊</li>
            </ul>
        </nav>
        <article>
            
        </article>
    </body>
</html>