
 
<form action="#">
  <div class="mdl-textfield mdl-js-textfield ">
    <input class="mdl-textfield__input" type="text" id="admin-account" placeholder="帳號" />
    <!-- <label class="mdl-textfield__label" for="admin-account">帳號</label>
  </div> -->
  <div class="mdl-textfield mdl-js-textfield ">
    <input class="mdl-textfield__input" type="password" id="admin-account" placeholder="密碼" />
    <!-- <label class="mdl-textfield__label" for="admin-password">密碼</label> -->
  </div>
  <button class="mdl-button mdl-js-button">登入</button>
</form>


